<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_order">

    <application>

        <activity android:name="com.example.module_order.DemoActivity" />

        <meta-data
            android:name="com.example.module_order.GlobalAppConfig"
            android:value="AppConfig" />

    </application>
</manifest>
